<form action="" method="POST" class="form-horizontal" role="form">
		<div class="form-group">
			<legend><?= $vars['form_title']?></legend>
		</div>
		
		<div class="form-group">
			<label for="inputName" class="col-sm-2 control-label">Name:</label>
			<div class="col-sm-10">
				<input type="text" name="name" id="inputName" class="form-control" value="" required="required" title="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputPass" class="col-sm-2 control-label">Pass:</label>
			<div class="col-sm-10">
				<input type="password" name="pass" id="inputPass" class="form-control" required="required" title="">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<button type="submit" class="btn btn-primary"><?= $vars['submite_text']?></button>
			</div>
		</div>
</form>